<div class="container w-75 mx-auto my-3 py-1 px-3 border-start border-5 rounded bg-secondary bg-opacity-10">
  <p class="text-secondary fw-bold"><%= @question%></p>
  <p><i>- You</i></p>
</div>
<div class="container w-75 mx-auto my-3 py-1 px-3 border-start border-5 rounded bg-warning bg-opacity-10">
  <p class="text-secondary fw-bold"><%= @answer%></p>
  <p><i>- Your coach</i></p>
</div>
<div class="container w-75 mx-auto my-3 py-1 px-3 rounded">
  <a class=" btn btn-primary text-decoration-none" href="ask">Ask another question</a>
</div>
