<form class="w-75 mx-auto my-3" action="/answer" data-turbo="false">
  <label class="my-3" for="question">Ask your coach anything</label>
  <div class="d-flex">
    <input class ="form-control" type="text" name="question" placeholder="Your question">
    <input class ="brn btn-primary" type="submit" value="Ask!">
  </div>
</form>
